.form {
    background: rgb(6, 29, 7);
    background: linear-gradient(90deg, rgba(6, 29, 7, 1) 0%, rgba(0, 0, 0, 1) 100%);
    height: 850px;
    padding-top: 100px;
}

.form p {
    font-size: 80px;
    font-family: "Lobster", sans-serif;
    text-align: center;
    margin: 0vh 0vh 10vh 0vh;
    text-shadow: var(--main-color) 0 0 12px;
    text-shadow: var(--main-color) 0 0 24px;
    text-shadow: var(--main-color) 0 0 36px;
}

.form p span {
    font-family: "Lobster", sans-serif;
    color: var(--main-color);
}

.inputs {
    padding: 0 55vh 0 60vh;
}

input {
    width: 100%;
    font-size: 20px;
    font-family: cursive;
    background-color: #0e3b1d;
    color: white;
    padding: 16px 16px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 30px;
    outline: none;
    transition: 0.3s all ease;
    box-shadow: var(--main-color) 0 0 10px;
    box-shadow: var(--main-color) 0 0 20px;
    box-shadow: var(--main-color) 0 0 30px;
}

input:hover {
    border-color: var(--main-color);
}

input:focus {
    border-color: var(--main-color);
}

textarea {
    width: 100%;
    font-size: 25px;
    font-family: cursive;
    padding: 16px 16px;
    border-radius: 10px;
    background-color: #0e3b1d;
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s all ease;
    color: white;
    box-shadow: var(--main-color) 0 0 10px;
    box-shadow: var(--main-color) 0 0 20px;
    box-shadow: var(--main-color) 0 0 30px;
}

textarea:hover {
    border-color: var(--main-color);

}

textarea:focus {
    border-color: var(--main-color);

}

button {
    width: 100%;
    font-size: 25px;
    font-family: cursive;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(129, 158, 134);
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s all ease;
    border: none;
    border: 2px solid var(--main-color);
    border-radius: 100px 60px 100px 60px;
    box-shadow: var(--main-color) 0 0 10px;
    box-shadow: var(--main-color) 0 0 20px;
    box-shadow: var(--main-color) 0 0 30px;
}

button:hover {
    background-color: #0e3b1d;
    color: white;
}

@media(max-width:1000px) {

    .inputs {
        padding: 0 35vh 0 40vh;
    }
}

@media(max-width:750px) {

    .inputs {
        padding: 0 15vh 0 20vh;
    }

    .form p {
        font-size: 60px;
    }
}
@media(max-width:450px) {

    .inputs {
        padding: 0 5vh 0 5vh;
    }

    .form p {
        font-size: 40px;
    }
}